In [1]:
import pandas as pd

In [2]:
df = pd.read_csv( 'raw_cardio.csv', sep = ';')

In [3]:
df.head( 5 )

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
df.columns

Index([u'id', u'age', u'gender', u'height', u'weight', u'ap_hi', u'ap_lo',
       u'cholesterol', u'gluc', u'smoke', u'alco', u'active', u'cardio'],
      dtype='object')

In [5]:
df.shape

(70000, 13)

In [6]:
df.drop( 'id', axis = 1, inplace = True )

In [7]:
df.drop_duplicates( inplace = True )

In [8]:
df.shape

(69976, 12)

In [9]:
X = df.iloc[:,:11]

Y = df.iloc[:,11:]

In [10]:
X.shape

(69976, 11)

In [11]:
Y.shape

(69976, 1)

In [12]:
Y.head( 5 )

   cardio
0       0
1       1
2       1
3       1
4       0

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split( X, Y, test_size = 0.2 )

In [14]:
print( X_train.shape )

print( X_test.shape )

print( Y_train.shape)

print( Y_test.shape )

(55980, 11)
(13996, 11)
(55980, 1)
(13996, 1)

In [15]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
model = KNeighborsClassifier( n_neighbors = 9, weights = 'uniform', algorithm = 'brute' )

In [24]:
import warnings

warnings.filterwarnings( 'ignore' )

model.fit( X_train, Y_train )

KNeighborsClassifier(algorithm='brute', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=9, p=2,
           weights='uniform')

In [25]:
Y_predict = model.predict( X_test )

In [26]:
from sklearn.metrics import accuracy_score

In [27]:
test_accuracy = accuracy_score( Y_test, Y_predict, normalize = True )

In [28]:
Y_predict_train = model.predict( X_train )

In [29]:
train_accuracy = accuracy_score( Y_train, Y_predict_train, normalize = True )

In [30]:
print( train_accuracy )

0.7529296177206145

In [31]:
print( test_accuracy )

0.6958416690482995